---
layout: default
title: Archive / 归档
permalink: /archive/
---

<div class="archive-page">
    {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    
    {% for year in postsByYear %}
    <h2 class="archive-year" id="{{ year.name }}">{{ year.name }}</h2>
    <ul class="archive-list">
        {% for post in year.items %}
        <li class="archive-item">
            <span class="archive-item-date">{{ post.date | date: "%m.%d" }}</span>
            <span class="archive-item-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </span>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
